In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('vehicles.csv')

In [3]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [4]:
data.shape

(2001, 26)

In [5]:
data.head(10)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,pa,NaN,NaN,NaN

In [6]:
data.tail(10)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
1991,7309236444,https://dothan.craigslist.org/ctd/d/dothan-201...,dothan,https://dothan.craigslist.org,16590,2015.0,hyundai,sonata sport sedan 4d,good,NaN,...,NaN,sedan,white,https://images.craigslist.org/00d0d_65wNCfzhbw...,Carvana is the safer way to buy a car During t...,NaN,al,31.230000,-85.400000,2021-04-19T10:01:24-0500
1992,7309199666,https://dothan.craigslist.org/ctd/d/troy-2020-...,dothan,https://dothan.craigslist.org,61998,2020.0,ford,f-150 lariat,excellent,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00N0N_j7jm4Bj39N...,2020 Ford F-150 Lariat - STOCK #: FPB71655 Av...,NaN,al,31.796941,-85.980049,2021-04-19T09:04:02-0500
1993,7309171786,https://dothan.craigslist.org/ctd/d/dothan-201...,dothan,https://dothan.craigslist.org,29990,2018.0,lexus,nx 300 sport utility 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_7N1bVdeWVN...,Carvana is the safer way to buy a car During t...,NaN,al,31.230000,-85.400000,2021-04-19T08:13:15-0500
1994,7309039556,https://dothan.craigslist.org/ctd/d/new-brockt...,dothan,https://dothan.craigslist.org,4000,2007.0,cadillac,dts,fair,8 cylinders,...,full-size,sedan,grey,https://images.craigslist.org/00G0G_4LVl47viLZ...,Up for sale is a 2007 Cadillac DTS Runs Good w...,NaN,al,31.369000,-85.940400,2021-04-18T20:05:44-0500
1995,7309035025,https://dothan.craigslist.org/cto/d/ozark-2005...,dothan,https://dothan.craigslist.org,2000,2005.0,ford,five hundred,good,6 cylinders,...,full-size,sedan,black,https://images.craigslist.org/01212_718RdXaGws...,"4 door, 6 cylinder, black, everything works, a...",NaN,al,31.408000,-85.603000,2021-04-18T19:52:18-0500
1996,7308972392,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,17860,2014.0,jeep,grand cherokee limited,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00O0O_ijP2Qx9vMi...,2014 JEEP GRAND CHEROKEE LIMITED ~ Hundreds of...,NaN,al,29.801374,-82.531052,2021-04-18T17:15:59-0500
1997,7308971633,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,54488,2020.0,ford,f-150 lariat 4wd,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00U0U_dTOexEOB2l...,2020 FORD F-150 LARIAT 4WD / F150 4X4 TRUCK ~ ...,NaN,al,29.802119,-82.529850,2021-04-18T17:14:22-0500
1998,7308831024,https://dothan.craigslist.org/ctd/d/dothan-201...,dothan,https://dothan.craigslist.org,33990,2017.0,ram,1500 crew cab tradesman,good,8 cylinders,...,NaN,pickup,blue,https://images.craigslist.org/00Y0Y_jRbwm0dSjS...,Carvana is the safer way to buy a car During t...,NaN,al,31.230000,-85.400000,2021-04-18T12:50:51-0500
1999,7308801755,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,3,2020.0,ford,fusion se sedan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00E0E_b3RHuW4jYv...,2020 FORD FUSION SE SEDAN ~ Hundreds of NEW & ...,NaN,al,29.803337,-82.528074,2021-04-18T11:59:35-0500
2000,7308801682,https://dothan.craigslist.org/ctd/d/alachua-20...,dothan,https://dothan.craigslist.org,18681,2019.0,nissan,altima 2.5 sr sedan,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00101_lBMiBbuKBr...,2019 NISSAN ALTIMA 2.5 SR SEDAN ~ Hundreds of ...,NaN,al,29.802566,-82.529678,2021-04-18T11:59:27-0500

In [7]:
data.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

In [8]:
data.index

RangeIndex(start=0, stop=2001, step=1)

In [9]:
 data.columns.values

array(['id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'title_status', 'transmission', 'VIN', 'drive', 'size',
       'type', 'paint_color', 'image_url', 'description', 'county',
       'state', 'lat', 'long', 'posting_date'], dtype=object)

In [10]:
 data['year']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
1996    2014.0
1997    2020.0
1998    2017.0
1999    2020.0
2000    2019.0
Name: year, Length: 2001, dtype: float64

In [11]:
 data.sort_index(axis=1,ascending=False)

,year,url,type,transmission,title_status,state,size,region_url,region,price,...,lat,image_url,id,fuel,drive,description,cylinders,county,condition,VIN
0,NaN,https://prescott.craigslist.org/cto/d/prescott...,NaN,NaN,NaN,az,NaN,https://prescott.craigslist.org,prescott,6000,...,NaN,NaN,7222695916,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,https://fayar.craigslist.org/ctd/d/bentonville...,NaN,NaN,NaN,ar,NaN,https://fayar.craigslist.org,fayetteville,11900,...,NaN,NaN,7218891961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,https://keys.craigslist.org/cto/d/summerland-k...,NaN,NaN,NaN,fl,NaN,https://keys.craigslist.org,florida keys,21000,...,NaN,NaN,7221797935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,https://worcester.craigslist.org/cto/d/west-br...,NaN,NaN,NaN,ma,NaN,https://worcester.craigslist.org,worcester / central MA,1500,...,NaN,NaN,7222270760,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,https://greensboro.craigslist.org/cto/d/trinit...,NaN,NaN,NaN,nc,NaN,https://greensboro.craigslist.org,greensboro,4900,...,NaN,NaN,7210384030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,2014.0,https://dothan.craigslist.org/ctd/d/alachua-20...,NaN,automatic,clean,al,NaN,https://dothan.craigslist.org,dothan,17860,...,29.801374,https://images.craigslist.org/00O0O_ijP2Qx9vMi...,7308972392,gas,NaN,2014 JEEP GRAND CHEROKEE LIMITED ~ Hundreds of...,NaN,NaN,NaN,NaN
1997,2020.0,https://dothan.craigslist.org/ctd/d/alachua-20...,NaN,automatic,clean,al,NaN,https://dothan.craigslist.org,dothan,54488,...,29.802119,https://images.craigslist.org/00U0U_dTOexEOB2l...,7308971633,gas,NaN,2020 FORD F-150 LARIAT 4WD / F150 4X4 TRUCK ~ ...,NaN,NaN,NaN,NaN
1998,2017.0,https://dothan.craigslist.org/ctd/d/dothan-201...,pickup,other,clean,al,NaN,https://dothan.craigslist.org,dothan,33990,...,31.230000,https://images.craigslist.org/00Y0Y_jRbwm0dSjS...,7308831024,gas,4wd,Carvana is the safer way to buy a car During t...,8 cylinders,NaN,good,3C6RR7KT7HG794054
1999,2020.0,https://dothan.craigslist.org/ctd/d/alachua-20...,NaN,automatic,clean,al,NaN,https://dothan.craigslist.org,dothan,3,...,29.803337,https://images.craigslist.org/00E0E_b3RHuW4jYv...,7308801755,gas,NaN,2020 FORD FUSION SE SEDAN ~ Hundreds of NEW & ...,NaN,NaN,NaN,NaN
2000,2019.0,https://dothan.craigslist.org/ctd/d/alachua-20...,NaN,automatic,clean,al,NaN,https://dothan.craigslist.org,dothan,18681,...,29.802566,https://images.craigslist.org/00101_lBMiBbuKBr...,7308801682,gas,NaN,2019 NISSAN ALTIMA 2.5 SR SEDAN ~ Hundreds of ...,NaN,NaN,NaN,NaN

In [13]:
data.sort_values(by="price")

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
565,7313464524,https://bham.craigslist.org/ctd/d/cullman-2017...,birmingham,https://bham.craigslist.org,0,2017.0,dodge,challenger rt plus,like new,8 cylinders,...,mid-size,coupe,green,https://images.craigslist.org/00W0W_8fiE8kDrF4...,ONE OWNER SUPER NICE RT PLUS PACKAGE WITH THE ...,NaN,al,34.188155,-86.851389,2021-04-27T13:52:29-0500
1696,7302763527,https://bham.craigslist.org/ctd/d/westbury-shu...,birmingham,https://bham.craigslist.org,0,2015.0,ford,e350 bus,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00F0F_l7gWk4P7IB...,For a complete selection of over 45 reconditio...,NaN,al,40.755700,-73.572300,2021-04-06T14:28:33-0500
1409,7305589846,https://bham.craigslist.org/ctd/d/cullman-2014...,birmingham,https://bham.craigslist.org,0,2014.0,ford,f150 xlt 4x4,like new,8 cylinders,...,full-size,truck,blue,https://images.craigslist.org/01313_9gHutUojBU...,"SELLING THIS VERY NICE F150 4x4 FULLY LOADED,S...",NaN,al,34.188155,-86.851389,2021-04-12T09:11:59-0500
1024,7309446286,https://bham.craigslist.org/ctd/d/la-vergne-fr...,birmingham,https://bham.craigslist.org,0,2014.0,NaN,Freightliner Cascadia,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00M0M_aVuQx61rdc...,"HEC LEASING, LLC Call Gary, Russ or Clay at 88...",NaN,al,36.012700,-86.560000,2021-04-19T14:58:53-0500
311,7315547296,https://bham.craigslist.org/ctd/d/ford-expedit...,birmingham,https://bham.craigslist.org,0,2017.0,ford,expedition el,NaN,6 cylinders,...,full-size,SUV,black,https://images.craigslist.org/00b0b_cPqUILEYCi...,2017 Ford Expedition EL King Ranch Navigation ...,NaN,al,NaN,NaN,2021-05-01T17:37:31-0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,7314044610,https://bham.craigslist.org/ctd/d/richmond-202...,birmingham,https://bham.craigslist.org,99950,2021.0,chevrolet,corvette stingray spor,NaN,NaN,...,NaN,coupe,orange,https://images.craigslist.org/00T0T_grWgd5g10R...,2021 Chevrolet Corvette Stingray Sports Car Tw...,NaN,al,37.401100,-77.461500,2021-04-28T16:12:26-0500
732,7311741403,https://bham.craigslist.org/cto/d/birmingham-j...,birmingham,https://bham.craigslist.org,100000,1984.0,jeep,cj7,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00p0p_h38gc2qe3i...,"Selling this Jeep, its on ebay with all the pi...",NaN,al,33.381300,-86.704600,2021-04-24T00:28:32-0500
1727,7302443955,https://bham.craigslist.org/cto/d/trussville-2...,birmingham,https://bham.craigslist.org,130000,2019.0,chevrolet,corvette,like new,8 cylinders,...,NaN,coupe,blue,https://images.craigslist.org/00i0i_hXysWO79nV...,Z06 Customized Super Charged Corvette! Year: 2...,NaN,al,33.633900,-86.598100,2021-04-05T22:11:19-0500
1838,7315961634,https://dothan.craigslist.org/cto/d/black-ford...,dothan,https://dothan.craigslist.org,99999999,1993.0,ford,ranger,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00707_aAWsmapBxU...,"1993 Ford Ranger, extended cab, 3.0 liter, ne...",NaN,al,31.053493,-85.825968,2021-05-02T17:18:25-0500
280,7315849335,https://bham.craigslist.org/cto/d/trussville-1...,birmingham,https://bham.craigslist.org,987654321,1960.0,chevrolet,NaN,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00E0E_fZYzwRGkoI...,(TRADE VALUE IS HIGHER )I have a 1960 Impala h...,NaN,al,33.633900,-86.598100,2021-05-02T13:24:09-0500

In [14]:
data.iloc[5]

id                                                     7222379453
url             https://hudsonvalley.craigslist.org/cto/d/west...
region                                              hudson valley
region_url                    https://hudsonvalley.craigslist.org
price                                                        1600
year                                                          NaN
manufacturer                                                  NaN
model                                                         NaN
condition                                                     NaN
cylinders                                                     NaN
fuel                                                          NaN
odometer                                                      NaN
title_status                                                  NaN
transmission                                                  NaN
VIN                                                           NaN
drive                                                         NaN
size                                                          NaN
type                                                          NaN
paint_color                                                   NaN
image_url                                                     NaN
description                                                   NaN
county                                                        NaN
state                                                          ny
lat                                                           NaN
long                                                          NaN
posting_date                                                  NaN
Name: 5, dtype: object

In [15]:
 data[0:3]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN

In [16]:
data.isnull()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
1,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
2,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
3,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
4,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False
1997,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
1999,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False
2000,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,True,False,False,False,False

In [17]:
data.isnull().any()

id              False
url             False
region          False
region_url      False
price           False
year             True
manufacturer     True
model            True
condition        True
cylinders        True
fuel             True
odometer         True
title_status     True
transmission     True
VIN              True
drive            True
size             True
type             True
paint_color      True
image_url        True
description      True
county           True
state           False
lat              True
long             True
posting_date     True
dtype: bool

In [18]:
data.isnull().sum().sum()

8266

In [19]:
data.isnull().sum()

id                 0
url                0
region             0
region_url         0
price              0
year              49
manufacturer     170
model             40
condition        879
cylinders        743
fuel              61
odometer          39
title_status     130
transmission      28
VIN              733
drive            638
size            1508
type             621
paint_color      467
image_url         27
description       27
county          2001
state              0
lat               39
long              39
posting_date      27
dtype: int64

In [20]:
data.manufacturer.isnull().sum()

170

In [21]:
data.groupby(['id'])['year'].apply(lambda x:x.isnull().sum())

id
7208549803    1
7209027818    1
7209064557    1
7210384030    1
7212631321    1
             ..
7316871664    0
7316872263    0
7316873897    0
7316874816    0
7316878036    0
Name: year, Length: 2001, dtype: int64

In [22]:
df1= data.head(10)

In [23]:
df1

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,pa,NaN,NaN,NaN

In [24]:
df1.isnull().sum()

id               0
url              0
region           0
region_url       0
price            0
year            10
manufacturer    10
model           10
condition       10
cylinders       10
fuel            10
odometer        10
title_status    10
transmission    10
VIN             10
drive           10
size            10
type            10
paint_color     10
image_url       10
description     10
county          10
state            0
lat             10
long            10
posting_date    10
dtype: int64

In [25]:
df1.describe()

                 id         price  year  odometer  county  lat  long
count  1.000000e+01     10.000000   0.0       0.0     0.0  0.0   0.0
mean   7.218912e+09   7189.500000   NaN       NaN     NaN  NaN   NaN
std    5.020724e+06   6842.521648   NaN       NaN     NaN  NaN   NaN
min    7.209065e+09   1000.000000   NaN       NaN     NaN  NaN   NaN
25%    7.219040e+09   1950.000000   NaN       NaN     NaN  NaN   NaN
50%    7.220997e+09   4950.000000   NaN       NaN     NaN  NaN   NaN
75%    7.222191e+09  10425.000000   NaN       NaN     NaN  NaN   NaN
max    7.222696e+09  21000.000000   NaN       NaN     NaN  NaN   NaN

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10 non-null     int64
 1   url           10 non-null     object
 2   region        10 non-null     object
 3   region_url    10 non-null     object
 4   price         10 non-null     int64
 5   year          0 non-null      float64
 6   manufacturer  0 non-null      object
 7   model         0 non-null      object
 8   condition     0 non-null      object
 9   cylinders     0 non-null      object
 10  fuel          0 non-null      object
 11  odometer      0 non-null      float64
 12  title_status  0 non-null      object
 13  transmission  0 non-null      object
 14  VIN           0 non-null      object
 15  drive         0 non-null      object
 16  size          0 non-null      object
 17  type          0 non-null      object
 18  paint_color   0 non-null      object
 19  image_url     0 non-null      object
 20  description   0 non-null      object
 21  county        0 non-null      float64
 22  state         10 non-null     object
 23  lat           0 non-null      float64
 24  long          0 non-null      float64
 25  posting_date  0 non-null      object
dtypes: float64(5), int64(2), object(19)
memory usage: 2.2+ KB

In [27]:
df1.iloc[0:10,0:10]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN

In [28]:
df1.iloc[:, 0:2]

           id                                                url
0  7222695916  https://prescott.craigslist.org/cto/d/prescott...
1  7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2  7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3  7222270760  https://worcester.craigslist.org/cto/d/west-br...
4  7210384030  https://greensboro.craigslist.org/cto/d/trinit...
5  7222379453  https://hudsonvalley.craigslist.org/cto/d/west...
6  7221952215  https://hudsonvalley.craigslist.org/cto/d/west...
7  7220195662  https://hudsonvalley.craigslist.org/cto/d/poug...
8  7209064557  https://medford.craigslist.org/cto/d/grants-pa...
9  7219485069  https://erie.craigslist.org/cto/d/erie-2012-su...

In [29]:
df1.iloc[[0,3,6,9], [0,5,6]]

           id  year manufacturer
0  7222695916   NaN          NaN
3  7222270760   NaN          NaN
6  7221952215   NaN          NaN
9  7219485069   NaN          NaN

In [30]:
df1.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [31]:
df1.iloc[0:5, 5:8]

   year manufacturer model
0   NaN          NaN   NaN
1   NaN          NaN   NaN
2   NaN          NaN   NaN
3   NaN          NaN   NaN
4   NaN          NaN   NaN

In [33]:
df1['id']

0    7222695916
1    7218891961
2    7221797935
3    7222270760
4    7210384030
5    7222379453
6    7221952215
7    7220195662
8    7209064557
9    7219485069
Name: id, dtype: int64

In [34]:
df1.isnull().sum()

id               0
url              0
region           0
region_url       0
price            0
year            10
manufacturer    10
model           10
condition       10
cylinders       10
fuel            10
odometer        10
title_status    10
transmission    10
VIN             10
drive           10
size            10
type            10
paint_color     10
image_url       10
description     10
county          10
state            0
lat             10
long            10
posting_date    10
dtype: int64

In [36]:
df1[['id','url','region']]

,id,url,region
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie